* {
    font-family: 'Roboto', sans-serif;
}

.hero-container, 
.footer-container {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.hero-container {    
    padding: 10px 0 100px;
    flex-direction: column;
    align-items: center;
}

.hero-menu {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 20px auto;
    margin: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.link-one {
    margin-left: auto;
}

.link-two {
    margin-left: 20px;
}

.link-three {
    margin-left: 20px;
}

.hero-main {
    display: flex;
    width: 1200px;
    margin-top: 100px;
    gap: 18px;
}

.header-text {
    flex-direction: column;
    padding: 2px;
    border: 1px;
    width: 50%;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text, 
.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary-text {
    margin: 1px;
}

.button-signup {
    position: absolute;
    background-color: #3882f6;
    color:  #e5e7eb;
    border: none;
    border-radius: 10px;
    margin: 18px 0;
    top: 40%;
    padding: 15px;
    min-height: 30px;
    min-width: 150px;
    font-size: 18px;
    font-weight: bold;
}

.photo-container {
    margin: 1px;
    width: 800px;
    height: 300px;
    overflow: hidden;
    display: flex;
}

.hero-photo {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.info-container {
    background-color: white;
    color: #1f2937;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
}

.info-header {
    width: 1200px;
    display: flex;
    justify-content: center;
    padding: 20px 80px;
    margin-bottom: 50px;
    height: fit-content;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937; 
}

.photo-grid {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding: 80px;
}

.photo-grid-item {
    width: 200px;
    height: 280px;
}

.photo-grid-container {
    margin: 1px;
    width: 200px;
    height: 210px;
    display: flex;
}

.photo-item {
    border: 5px solid #1f2937;
    border-radius: 20px;
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.photo-text {
    text-align: center;
    font-size: 18px;
    padding: 18px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.quote-text {
    padding: 150px 0 0;
    display: flex;
    justify-self: center;
    width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-from {
    display: flex;
    width: 800px;
    justify-content:flex-end;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0 100px;
}

.action-container {
    background-color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: 100px;
}

.action-bg,
.action-button {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    padding: 80px;
    color: white;
}

.action-bg {
    width: 1200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.action-call {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.action-text-call {
    font-size: 30px;
    font-weight: bold;
}

.action-sign-up {
    font-size: 20px;
}

.action-button {
    border-style:solid;
    border-radius: 10px;
    border-color: white;
    padding: 15px;
    min-height: 30px;
    min-width: 150px;
    font-size: 18px;
    font-weight: bold;
}


.footer-text {
    padding: 20px;
    font-size: 20px;
}